@media only screen and (max-width: 900px) {
    .item h4 {font-size: 70%;}
}

@media only screen and (max-width: 804px) {

    .button {
        margin-right: 0;
    }
    .search-field {
        margin-bottom: 10px;
    }

    .button-cart,
    .button-cook {
        float: none;
        display: block;
        width: 70%;
        margin: 10px auto;
    }

    .full-recipe-photo {
        display: block;
        width: 80%;
        height: auto;
        margin: 20px auto;
    }

    .full-recipe-likes {
        left: 10%;
    }
    
    .full-recipe-header {font-size: 80%;}
}


@media only screen and (max-width: 700px) {
    .col {
        width: 100%;
    }
    .right,
    .left {
        margin: 50px 0;
    }
    
     .button-cart {
        float: left;
        width: 40%;
    }
    .button-cook {
        float: right;
        width: 40%; 
    }
    
    .go-back {
        top: 5%;
        left: 47%;
        z-index: 100;
    }


}

@media only screen and (max-width: 600px) {

    /*    .right {display: none;}*/
    .full-recipe-header {
        font-size: 100%;
    }

    .recipe {
        width: 100%;
        float: none;
    }

    .list-row {
        position: static;
    }

    .recipe:hover {
        transform: none;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }

    .left-arrow {
        left: -4%;
    }
    .right-arrow {
        right: -4%;
    }

    .up-down {
        display: none;
    }

}



@media only screen and (max-width: 400px) {

 .grid-container {
     grid-template-columns: 1fr;
     grid-template-rows: 1fr
    }
    
    .next {
        top: 40%;
        font-size: 250%;
    }
}
